# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#.dump file:
*.dmp
*.xmi

#ignore eclispe workspace folder
/java/eclipseWorkspace/.metadata

#ignore eclipse build folder
/java/eclipseWorkspace/kelvinTestProject/build

#ignore scala class file and build files
/scala/*.class
/scala/target
/scala/project
