# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#.dump file:
*.dmp
*.xmi

#ignore eclispe workspace folder
/java/eclipseWorkspace/.metadata
/java/eclipseWorkspace/.sonarlint
/java/eclipseWorkspace/clientdb.xml
/java/eclipseWorkspace/JavaEETutorial/.settings
/java/eclipseWorkspace/MyWebTomcat/.settings
/java/eclipseWorkspace/producerMethod/.settings
/java/eclipseWorkspace/MyWeb/.settings
/java/eclipseWorkspace/MyWebEAR/.settings
/java/eclipseWorkspace/Servers/.settings
java/eclipseWorkspace/Servers/Tomcat v9.0 Server at localhost-config/server.xml
/java/WebSphereProject/.metadata

#ignore eclipse web project class folder:
/java/eclipseWorkspace/MyWeb/WebContent/WEB-INF/classes

#ignore eclipse build folder
/java/eclipseWorkspace/kelvinTestProject/build
/java/eclipseWorkspace/kelvinTestProject/bin
/java/eclipseWorkspace/com.sample.web/bin
/java/eclipseWorkspace/EclipseHello/bin
/java/eclipseWorkspace/JavaEETutorial/build

#ignore scala class file and build files
/scala/*.class
/scala/target
/scala/project
/IntelliJProjects/*/out
/IntelliJProjects/sbtPrj1/target
/IntelliJProjects/sbtPrj1/project/target
/IntelliJProjects/ideaProjects/target
/IntelliJProjects/dataframe/target


#ignore log4j log file
/java/eclipseWorkspace/kelvinTestProject/Customer.log
/java/eclipseWorkspace/kelvinTestProject/Customer1.log


#ignore pycache folder
/python/__pycache__