<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ant.AntLaunchConfigurationType">
<booleanAttribute key="org.eclipse.debug.ui.ATTR_CONSOLE_OUTPUT_ON" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="false"/>
<booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.ant.internal.ui.antsupport.InternalAntRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.ant.ui.AntClasspathProvider"/>
<mapAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_PROPERTIES">
<mapEntry key="contextRoot" value="MyWebProject"/>
<mapEntry key="module.archive.name" value="MyWebProject.war"/>
<mapEntry key="module.dir" value="C:/Users/IBM_ADMIN/Documents/MyGit/MySource/java/eclipseWorkspace/.metadata/.plugins/org.eclipse.wst.server.core/tmp0/MyWebProject"/>
<mapEntry key="module.name" value="MyWebProject"/>
<mapEntry key="project.location" value="C:/Users/IBM_ADMIN/Documents/MyGit/MySource/java/eclipseWorkspace/MyWebProject"/>
<mapEntry key="project.name" value="MyWebProject"/>
<mapEntry key="project.working.dir" value="C:/Users/IBM_ADMIN/Documents/MyGit/MySource/java/eclipseWorkspace/.metadata/.plugins/org.eclipse.wst.server.core/tmp0"/>
<mapEntry key="resin.conf" value="C:\Users\IBM_ADMIN\Documents\MyGit\MySource\java\eclipseWorkspace\Servers\Resin 4.0 at localhost-config\resin.xml"/>
<mapEntry key="resin.debug.port" value="5005"/>
<mapEntry key="resin.deploy.password" value="password"/>
<mapEntry key="resin.deploy.type" value="jar"/>
<mapEntry key="resin.deploy.username" value="admin"/>
<mapEntry key="resin.deploy.webapps" value="C:\Users\IBM_ADMIN\Documents\MyTools\resin-4.0.58\webapps"/>
<mapEntry key="resin.home" value="C:\Users\IBM_ADMIN\Documents\MyTools\resin-4.0.58"/>
<mapEntry key="resin.http.port" value="8080"/>
<mapEntry key="resin.root" value="C:\Users\IBM_ADMIN\Documents\MyTools\resin-4.0.58"/>
<mapEntry key="resin.server.address" value="localhost"/>
<mapEntry key="resin.virtual.host" value="localhost"/>
<mapEntry key="server.address" value="localhost"/>
<mapEntry key="server.port" value="8080"/>
<mapEntry key="server.publish.dir" value="C:\Users\IBM_ADMIN\Documents\MyTools\resin-4.0.58\webapps"/>
</mapAttribute>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_ANT_TARGETS" value="deploy.j2ee.web"/>
<stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="C:\Users\IBM_ADMIN\Documents\MyGit\MySource\java\eclipseWorkspace\.metadata\.plugins\org.eclipse.jst.server.generic.core\buildfiles\resin40.xml"/>
<stringAttribute key="process_factory_id" value="org.eclipse.ant.ui.remoteAntProcessFactory"/>
</launchConfiguration>
